#top_nav {
	padding-left: 80px;
	}
	
	
#search_and_nav {width: 510px;}


#monitoring_callout {
	width: 957px;
}

#monitoring_callout .edit {margin-right: 15px;}

#paging {padding: 0 20px 0 10px; }

#bee_logo { 
	margin-left: 10px;
}


#search_and_nav {float: right; width: 530px; }