
form {
  padding: 2em!important;
}

form input, 
form select,
form textarea
{
  font: normal normal normal 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}

form label  {
  text-transform: uppercase;
  font-weight: normal;
  vertical-align: baseline;
  margin-bottom: 3px;
}


form input.form-autocomplete,
form input.form-text,
form textarea.form-textarea,
form select.form-select {
  padding:2px;
  border:1px solid #ccc;
  border-top-color:#999;
  background:#fff;
  color:#333;
}
 
form input.form-text:focus,
form textarea.form-textarea:focus,
form select.form-select:focus {
  color:#000;
  border-color:#ace;
}
